{% extends "layout.html" %}
{% load static %}
{% block content %}
<br>
<br>
<br>

    <!-- BLOG Section  -->
    <div id="blog" class="container-fluid bg-dark text-light py-5 text-center wow fadeIn">
        <h2 class="section-title py-5">EXPLORE RESTAURANTS!</h2>
        <div class="row justify-content-center">
            <div class="col-sm-7 col-md-4 mb-5">
                
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="foods" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    {% for items in restaurant %}
                    <div class="col-md-4">
                        <div class="card bg-transparent border my-3 my-md-0">
                            <img src={{items.image.url}} alt="template by DevCRID http://www.devcrud.com/" class="rounded-0 card-img-top mg-responsive">
                            <div class="card-body">
                                <h1 class="text-center mb-4"><a href="#" class="badge badge-success">{{items.restaurant_name}}</a></h1>
                                <h4 class="pt20 pb20">{{items.description}}</h4>
                                <center><button style="background-color:grey;border-radius: 10px;"><a href= "{% url 'menu' items.slug %}">Explore Menu</a></button></center>
            </a>
                            </div>
                        </div>
                    </div>
                    
                  {% endfor %}
                </div>
            </div>
            
                    
                   
                </div>
            </div>
        </div>
    </div>


{% endblock content%}